<!--Set up the gamepad + motorcontroller for controller-based driving-->
<!--(Not related to fusion)-->
<launch>
    <!-- Sets up Gamepad + Motor-->
    <include ns="drive" file="$(find d3_gamepad)/launch/gamepad.launch"/>
    <include ns="drive" file="$(find scuttle_driver)/launch/scuttle_driver.launch"/>
</launch>
