<!-- XML -->
<!--Component of edge-ai-ros-inventory-viz - render radar+camera fusion and publish it to a topic-->
<launch>

    <arg name="width" default="960"/>
    <arg name="height" default="540"/>

    <include ns="front" file="$(find d3_fusion)/launch/fusion_pcl_render.launch">
        <arg name="camera_name" value="imx390"/>
        <arg name="radar_name" value="ti_mmwave"/>
        <arg name="width" value="$(arg width)"/>
        <arg name="height" value="$(arg height)"/>
    </include>
</launch>
